<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>

<div id="app">

    <!--<div v-for="item in items">-->
        <!--<input-string v-if="item.type=='string'" :validation="item.validation" :name="item.name" v-model="item.value"></input-string>-->
    <!--</div>-->

    <!--<sum></sum>-->

    <!--<div v-for="item in items">-->
        <!--<currency-input :label="item.name" v-model="item.value"></currency-input>-->
    <!--</div>-->
    <!--<p>Total: ${{ total }}</p>-->

    <!--<datepicker placeholder="data"></datepicker>-->
</div>


<!--<script src="./js/libs/vue.js"></script>-->
<script type="text/javascript" src="dist/main.js"></script>

</body>
</html>